body {
  font-family: Helvetica;
}

header {
  text-align: center;
  color: white;
  background: url("../images/the-flatiron-building.png");
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

nav a {
  font-size: 18px;
  color: white;
  font-weight: bold;
}
